---
layout: layout.liquid
title: Planet Cards
---
<main>
    <h1>Planetary Playing Cards</h1>
    <div class="grid-container">
        <div class="sun">
            {% include "planet-card.liquid" 
                planetName: "Sun",
                astronomicalUnit: "Type G2V" %} 
        </div>
        <div class="mercury">
            {% include "planet-card.liquid" 
                planetName: "Mercury",
                astronomicalUnit: "0.39" %} 
        </div>
        <div class="venus">
            {% include "planet-card.liquid" 
                planetName: "Venus",
                astronomicalUnit: "0.72" %} 
        </div>
        <div class="earth">
            {% include "planet-card.liquid" 
                planetName: "Earth",
                astronomicalUnit: "1.00" %} 
        </div>
        <div class="mars">
            {% include "planet-card.liquid" 
                planetName: "Mars",
                astronomicalUnit: "1.52" %} 
        </div>
        <div class="jupiter">
            {% include "planet-card.liquid" 
                planetName: "Jupiter",
                astronomicalUnit: "5.20" %} 
        </div>
        <div class="saturn">
            {% include "planet-card.liquid" 
                planetName: "Saturn",
                astronomicalUnit: "9.54" %} 
        </div>
        <div class="uranus">
            {% include "planet-card.liquid" 
                planetName: "Uranus",
                astronomicalUnit: "19.22" %} 
        </div>
        <div class="neptune">
            {% include "planet-card.liquid" 
                planetName: "Neptune",
                astronomicalUnit: "30.06" %} 
        </div>
    </div>
</main>